In [ ]:
%pip install kafka-python
%pip install alibi-detect[torch]

In [ ]:
%pip install boto3

In [ ]:
%pip install pyOpenSSL --upgrade

In [16]:
%pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.7-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
     |████████████████████████████████| 3.0 MB 1.4 MB/s eta 0:00:01
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.7
Note: you may need to restart the kernel to use updated packages.

In [21]:
%pip install whylogs

Collecting whylogs
  Downloading whylogs-1.3.1-py3-none-any.whl (1.9 MB)
     |████████████████████████████████| 1.9 MB 1.4 MB/s eta 0:00:01
Collecting platformdirs<4.0.0,>=3.5.0
  Downloading platformdirs-3.10.0-py3-none-any.whl (17 kB)
Collecting protobuf>=3.19.4
  Downloading protobuf-4.24.2-cp37-abi3-manylinux2014_x86_64.whl (311 kB)
     |████████████████████████████████| 311 kB 70.4 MB/s eta 0:00:01
Collecting types-requests<3.0.0.0,>=2.30.0.0
  Downloading types_requests-2.31.0.2-py3-none-any.whl (14 kB)
Requirement already satisfied: typing-extensions>=3.10 in /opt/conda/lib/python3.8/site-packages (from whylogs) (4.7.1)
Collecting requests<3.0,>=2.27
  Using cached requests-2.31.0-py3-none-any.whl (62 kB)
Collecting whylabs-client<0.6.0,>=0.5.3
  Downloading whylabs_client-0.5.5-py3-none-any.whl (441 kB)
     |████████████████████████████████| 441 kB 45.0 MB/s eta 0:00:01
Collecting whylogs-sketching>=3.4.1.dev3
  Downloading whylogs_sketching-3.4.1.dev3-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (548 kB)
     |████████████████████████████████| 548 kB 44.3 MB/s eta 0:00:01
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/conda/lib/python3.8/site-packages (from requests<3.0,>=2.27->whylogs) (1.26.5)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.8/site-packages (from requests<3.0,>=2.27->whylogs) (2021.5.30)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.8/site-packages (from requests<3.0,>=2.27->whylogs) (2.10)
Collecting charset-normalizer<4,>=2
  Using cached charset_normalizer-3.2.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (199 kB)
Collecting types-urllib3
  Downloading types_urllib3-1.26.25.14-py3-none-any.whl (15 kB)
Requirement already satisfied: python-dateutil in /opt/conda/lib/python3.8/site-packages (from whylabs-client<0.6.0,>=0.5.3->whylogs) (2.8.1)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.8/site-packages (from python-dateutil->whylabs-client<0.6.0,>=0.5.3->whylogs) (1.16.0)
Installing collected packages: types-urllib3, charset-normalizer, whylogs-sketching, whylabs-client, types-requests, requests, protobuf, platformdirs, whylogs
  Attempting uninstall: requests
    Found existing installation: requests 2.25.1
    Uninstalling requests-2.25.1:
      Successfully uninstalled requests-2.25.1
  Attempting uninstall: protobuf
    Found existing installation: protobuf 3.17.3
    Uninstalling protobuf-3.17.3:
      Successfully uninstalled protobuf-3.17.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
kfp 1.6.3 requires click<8,>=7.1.1, but you have click 8.1.3 which is incompatible.
kfp 1.6.3 requires protobuf<4,>=3.13.0, but you have protobuf 4.24.2 which is incompatible.
kfp-pipeline-spec 0.1.13 requires protobuf<4,>=3.13.0, but you have protobuf 4.24.2 which is incompatible.
Successfully installed charset-normalizer-3.2.0 platformdirs-3.10.0 protobuf-4.24.2 requests-2.31.0 types-requests-2.31.0.2 types-urllib3-1.26.25.14 whylabs-client-0.5.5 whylogs-1.3.1 whylogs-sketching-3.4.1.dev3
Note: you may need to restart the kernel to use updated packages.

In [1]:
from alibi_detect.cd import MMDDriftOnline
from alibi_detect.saving import load_detector

cd = load_detector("detector_prod")

/opt/conda/lib/python3.8/site-packages/alibi_detect/saving/validate.py:52: UserWarning: Config is from version 0.11.1 but current version is 0.11.4. This may lead to breaking code or invalid results.
  warnings.warn(f'Config is from version {version} but current version is '
/opt/conda/lib/python3.8/site-packages/alibi_detect/saving/validate.py:47: UserWarning: The config file appears to be have been generated from a detector which may have been loaded with a version mismatch. This may lead to breaking code or invalid results.
  warnings.warn('The config file appears to be have been generated from a detector which may have been '
No GPU detected, fall back on CPU.

Generating permutations of kernel matrix..

100%|██████████| 1000/1000 [03:57<00:00,  4.21it/s]
Computing thresholds: 100%|██████████| 10/10 [00:19<00:00,  1.95s/it]

In [2]:
import pandas as pd

candidate_data_path = 'test_CH_PROD.csv'

candidate_data = pd.read_csv(candidate_data_path)

drift_data_path = 'test_CH_DRIFT_PROD.csv'

drift_data = pd.read_csv(drift_data_path)
# drift_data = drift_data.sample(frac=1)
drift_data1 = drift_data.copy()

In [3]:
del candidate_data['created_timestamp']
del candidate_data['event_timestamp']
del candidate_data['loan_id']
del candidate_data['zipcode']
del candidate_data['dob_ssn']
del candidate_data['city']
del candidate_data['location_type']
del candidate_data['person_income']

del drift_data['created_timestamp']
del drift_data['event_timestamp']
del drift_data['loan_id']
del drift_data['zipcode']
del drift_data['dob_ssn']
del drift_data['city']
del drift_data['location_type']
del drift_data['person_income']

In [4]:
df = pd.concat([candidate_data, drift_data])
df = df.sample(frac=1)

In [5]:
from sklearn.preprocessing import OrdinalEncoder
cols_to_drop = ['created_timestamp', 'event_timestamp', 'loan_id', 'zipcode', 'dob_ssn', 'city', 'location_type']

encoder = OrdinalEncoder()
categorical_features = [
    "person_home_ownership",
    "loan_intent",
    "state",
]

encoder.fit(df[categorical_features])
df[categorical_features] = encoder.transform(df[categorical_features])

In [6]:
candidate_data[categorical_features] = encoder.transform(candidate_data[categorical_features])
drift_data[categorical_features] = encoder.transform(drift_data[categorical_features])

In [7]:
df_t = drift_data1[[
"zipcode",
"dob_ssn",    
"person_age",
"person_home_ownership",
"person_emp_length",
"loan_intent",
"loan_amnt",
"loan_int_rate"
]]

In [38]:
import psycopg2
from sqlalchemy import create_engine

engine = create_engine("postgresql+psycopg2://postgres:postgres@cassandra-postgresql.feast-db:5432/online_monitoring_db")

grafana_table = "online_model_drift"

import psycopg2
from psycopg2 import Error
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT

conn = psycopg2.connect("host=cassandra-postgresql.feast-db port=5432 dbname=online_monitoring_db user=postgres password=postgres")
conn.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT);
cur = conn.cursor()
cur.execute(f'DROP TABLE IF EXISTS {grafana_table};')
cur.close()
conn.close()

In [39]:
cd.reset_state()

In [40]:
for index, row in drift_data[0:40].iterrows():
    buff_df = drift_data1.loc[[index]].copy()
    pred = cd.predict(row.to_numpy())
    
    import datetime
    
    date_object = datetime.datetime.now()
    
    buff_df["date"] = [date_object]
    buff_df['drf_is_drift'] = [pred['data']['is_drift'],]
    buff_df['drf_threshold'] = [pred['data']['threshold'],]
    buff_df['drf_test_stat'] = [pred['data']['test_stat'],]
    
    buff_df.to_sql(grafana_table, con=engine, index=False, if_exists='append')
#     print(pred)
#     print(type(pred))
#     print(pred['data'])
#     if pred['data']['is_drift'] == 1:
#         print("!!!")
#         print(index)
#         print(row)
#         print(list(df_t.loc[[index]].values))
#         print(pred)
#         print("!!!")
#         cd.reset_state()
#     else:
#         print(list(df_t.loc[[index]].values))

In [42]:
pd.read_sql_table(grafana_table, con=engine).head()

,loan_id,dob_ssn,zipcode,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_amnt,loan_int_rate,...,hard_pulls,missed_payments_2y,missed_payments_1y,missed_payments_6m,bankruptcies,incomeamount12m,date,drf_is_drift,drf_threshold,drf_test_stat
0,38532,19680928_7367,66016,52,69996,OWN,3.0,PERSONAL,12000,11.11,...,0,0,0,0,0,139400.0,2023-08-28 12:54:23.741012,0,0.098422,0.033066
1,38536,19551130_5600,76035,61,10636,RENT,3.0,PERSONAL,4000,12.21,...,6,1,3,0,0,157112.0,2023-08-28 12:54:24.086453,0,0.095914,0.032775
2,38298,19890504_7130,73023,41,45840,RENT,5.0,DEBTCONSOLIDATION,4600,10.99,...,0,1,0,0,0,85816.0,2023-08-28 12:54:24.184538,0,0.089077,0.030726
3,38535,19580830_6315,35219,56,70000,MORTGAGE,7.0,PERSONAL,15000,10.38,...,0,0,0,0,0,123992.0,2023-08-28 12:54:24.315539,0,0.081697,0.030664
4,38533,19830925_9378,80515,56,70000,MORTGAGE,17.0,PERSONAL,2500,5.99,...,1,1,0,0,0,130120.0,2023-08-28 12:54:24.438825,0,0.073403,0.047246

In [43]:
table_for_profile = pd.read_sql_table(grafana_table, con=engine)

In [44]:
import whylogs as why

# Log data with whylogs & create profile
results = why.log(pandas=df)
profile = results.profile()

# Create profile view dataframe
prof_view = profile.view()
prof_df = prof_view.to_pandas()
prof_df['frequent_items/frequent_strings'] = prof_df['frequent_items/frequent_strings'].astype('str')

prof_df.head()

,cardinality/est,cardinality/lower_1,cardinality/upper_1,counts/inf,counts/n,counts/nan,counts/null,distribution/max,distribution/mean,distribution/median,...,frequent_items/frequent_strings,ints/max,ints/min,type,types/boolean,types/fractional,types/integral,types/object,types/string,types/tensor
column,,,,,,,,,,,,,,,,,,,,,
bankruptcies,3.000000,3.000000,3.000150,0,17180,0,0,2.0,0.170547,0.0,...,"[FrequentItem(value='0', est=15246, upper=1524...",2.0,0.0,SummaryType.COLUMN,0,0,17180,0,0,0
credit_card_due,8206.397808,8101.593544,8313.815058,0,17180,0,0,9999.0,5005.899534,4975.0,...,[],9999.0,0.0,SummaryType.COLUMN,0,0,17180,0,0,0
hard_pulls,11.000000,11.000000,11.000549,0,17180,0,0,10.0,3.661467,3.0,...,"[FrequentItem(value='0', est=3759, upper=3759,...",10.0,0.0,SummaryType.COLUMN,0,0,17180,0,0,0
incomeamount12m,11051.590325,10910.449984,11196.249587,0,17180,0,0,372348.0,170717.146740,169040.0,...,nan,NaN,NaN,SummaryType.COLUMN,0,17180,0,0,0,0
loan_amnt,623.521595,615.558573,631.683151,0,17180,0,0,35000.0,9688.894063,8000.0,...,"[FrequentItem(value='10000', est=1368, upper=1...",35000.0,500.0,SummaryType.COLUMN,0,0,17180,0,0,0

In [45]:
prof_df.columns

Index(['cardinality/est', 'cardinality/lower_1', 'cardinality/upper_1',
       'counts/inf', 'counts/n', 'counts/nan', 'counts/null',
       'distribution/max', 'distribution/mean', 'distribution/median',
       'distribution/min', 'distribution/n', 'distribution/q_01',
       'distribution/q_05', 'distribution/q_10', 'distribution/q_25',
       'distribution/q_75', 'distribution/q_90', 'distribution/q_95',
       'distribution/q_99', 'distribution/stddev',
       'frequent_items/frequent_strings', 'ints/max', 'ints/min', 'type',
       'types/boolean', 'types/fractional', 'types/integral', 'types/object',
       'types/string', 'types/tensor'],
      dtype='object')

In [31]:
engine = create_engine("postgresql+psycopg2://postgres:postgres@cassandra-postgresql.feast-db:5432/online_monitoring_db")

grafana_table = "online_model_profile"

In [34]:
prof_df.to_sql(grafana_table, con=engine, index=True, if_exists='replace')

In [35]:
pd.read_sql_table(grafana_table, con=engine)

,column,cardinality/est,cardinality/lower_1,cardinality/upper_1,counts/inf,counts/n,counts/nan,counts/null,distribution/max,distribution/mean,...,frequent_items/frequent_strings,ints/max,ints/min,type,types/boolean,types/fractional,types/integral,types/object,types/string,types/tensor
0,bankruptcies,3.000000,3.000000,3.000150,0,17180,0,0,2.000000e+00,1.705471e-01,...,"[FrequentItem(value='0', est=15246, upper=1524...",2.000000e+00,0.0,COLUMN,0,0,17180,0,0,0
1,credit_card_due,8206.397808,8101.593544,8313.815058,0,17180,0,0,9.999000e+03,5.005900e+03,...,[],9.999000e+03,0.0,COLUMN,0,0,17180,0,0,0
2,hard_pulls,11.000000,11.000000,11.000549,0,17180,0,0,1.000000e+01,3.661467e+00,...,"[FrequentItem(value='0', est=3759, upper=3759,...",1.000000e+01,0.0,COLUMN,0,0,17180,0,0,0
3,incomeamount12m,11051.590325,10910.449984,11196.249587,0,17180,0,0,3.723480e+05,1.707171e+05,...,nan,NaN,NaN,COLUMN,0,17180,0,0,0,0
4,loan_amnt,623.521595,615.558573,631.683151,0,17180,0,0,3.500000e+04,9.688894e+03,...,"[FrequentItem(value='10000', est=1368, upper=1...",3.500000e+04,500.0,COLUMN,0,0,17180,0,0,0
5,loan_int_rate,337.000281,337.000000,337.017107,0,17180,0,0,2.322000e+01,1.103252e+01,...,nan,NaN,NaN,COLUMN,0,17180,0,0,0,0
6,loan_intent,6.000000,6.000000,6.000300,0,17180,0,0,5.000000e+00,2.538242e+00,...,nan,NaN,NaN,COLUMN,0,17180,0,0,0,0
7,loan_status,2.000000,2.000000,2.000100,0,17180,0,0,1.000000e+00,2.145518e-01,...,"[FrequentItem(value='0', est=13494, upper=1349...",1.000000e+00,0.0,COLUMN,0,0,17180,0,0,0
8,missed_payments_1y,4.000000,4.000000,4.000200,0,17180,0,0,3.000000e+00,1.058207e+00,...,"[FrequentItem(value='0', est=8105, upper=8105,...",3.000000e+00,0.0,COLUMN,0,0,17180,0,0,0
9,missed_payments_2y,8.000000,8.000000,8.000400,0,17180,0,0,7.000000e+00,2.624505e+00,...,"[FrequentItem(value='1', est=4030, upper=4030,...",7.000000e+00,0.0,COLUMN,0,0,17180,0,0,0
10,missed_payments_6m,2.000000,2.000000,2.000100,0,17180,0,0,1.000000e+00,3.521537e-01,...,"[FrequentItem(value='0', est=11130, upper=1113...",1.000000e+00,0.0,COLUMN,0,0,17180,0,0,0
11,mortgage_due,17250.042653,17029.741607,17475.836259,0,17180,0,0,1.999971e+06,9.914767e+05,...,[],1.999971e+06,49.0,COLUMN,0,0,17180,0,0,0
12,person_age,57.000008,57.000000,57.002854,0,17180,0,0,1.440000e+02,2.831071e+01,...,"[FrequentItem(value='23', est=1991, upper=1991...",1.440000e+02,20.0,COLUMN,0,0,17180,0,0,0
13,person_emp_length,35.000003,35.000000,35.001750,0,17180,0,0,4.100000e+01,4.818393e+00,...,nan,NaN,NaN,COLUMN,0,17180,0,0,0,0
14,person_home_ownership,4.000000,4.000000,4.000200,0,17180,0,0,3.000000e+00,1.667462e+00,...,nan,NaN,NaN,COLUMN,0,17180,0,0,0,0
15,population,7771.690245,7672.437651,7873.417412,0,17180,0,0,8.410600e+04,8.256212e+03,...,[],8.410600e+04,321.0,COLUMN,0,0,17180,0,0,0
16,state,51.000006,51.000000,51.002553,0,17180,0,0,5.000000e+01,2.498871e+01,...,nan,NaN,NaN,COLUMN,0,17180,0,0,0,0
17,student_loan_due,14361.830165,14178.414607,14549.818653,0,17180,0,0,4.999700e+04,2.504826e+04,...,[],4.999700e+04,2.0,COLUMN,0,0,17180,0,0,0
18,tax_returns_filed,6578.335625,6494.323414,6664.442433,0,17180,0,0,4.443400e+04,4.723132e+03,...,[],4.443400e+04,250.0,COLUMN,0,0,17180,0,0,0
19,total_wages,12813.388722,12649.748377,12981.108960,0,17180,0,0,2.132870e+09,1.944196e+08,...,[],2.132870e+09,1372315.0,COLUMN,0,0,17180,0,0,0
20,vehicle_loan_due,13008.649397,12842.515369,13178.925490,0,17180,0,0,2.999800e+04,1.496490e+04,...,[],2.999800e+04,1.0,COLUMN,0,0,17180,0,0,0

In [ ]:
import psycopg2
from sqlalchemy import create_engine

engine = create_engine("postgresql+psycopg2://postgres:postgres@cassandra-postgresql.feast-db:5432/online_monitoring_db")

grafana_table = "online_model_drift"


for index, row in df.iterrows():
    pred = cd.predict(row.to_numpy())
    
    df['drf_is_drift'] = [pred['data']['is_drift'],]
    df['drf_threshold'] = [pred['data']['threshold'],]
    df['drf_test_stat'] = [pred['data']['test_stat'],]
    
    df.to_sql(grafana_table, con=engine, index=False, if_exists='append')

In [ ]:
import alibi_detect
from alibi_detect.cd import MMDDriftOnline
from alibi_detect.saving import load_detector

cd = load_detector("detector_prod")

In [ ]:
from kafka import KafkaConsumer
from kafka import KafkaProducer
import json
import pandas as pd
from mlflow import MlflowClient
import joblib

request_set = {}

def get_request_id(msg):
    for header in msg.headers:
        if header[0] == 'requestid':
            return header[1].decode("utf-8")
    return None


def prepare_message_value(value, request_id, request_set):
    dict_value = json.loads(value.decode("utf-8"))
    if 'meta' in dict_value.keys():
        if 'jsonData' in dict_value.keys():
#             request_set[request_id]["response_ready"] = request_set[request_id]["response_ready"] + 1
            for k in dict_value['jsonData'].keys():
                request_set[request_id][k] = dict_value['jsonData'][k]
        else:
            print("set loan_status: " + str(dict_value['data']['tensor']['values'][0]))
            request_set[request_id]["loan_status"] = dict_value['data']['tensor']['values'][0]
#             request_set[request_id]["response_ready"] = request_set[request_id]["response_ready"] + 1
            print(request_set)
    else:
        request_set[request_id] = {"response_ready": 1}
    return request_set


# client = MlflowClient()
# name = "loan_approval"
# rm = client.get_registered_model(name)
# model_versions = rm.latest_versions
# def sort_func(m):
#     return int(m.version)
# model_versions.sort(key=sort_func)
# model_run_id = model_versions[-1].run_id

# path = client.download_artifacts(model_run_id, "model/artifacts")
# encoder = joblib.load(f'{path}/encoder.bin')
encoder = joblib.load(f'encoder.bin')
categorical_features = [
    "person_home_ownership",
    "loan_intent",
    "state",
]

sasl_mechanism = 'SCRAM-SHA-512'
security_protocol = 'SASL_SSL'
user = "user"
password = "DgVSLVl5yp2h"
cafile = '/home/jovyan/cert/ca-root.crt'
bootstrap_server = "kafka-kafka-0.kafka-kafka-brokers.dognauts-kafka.svc:9093"


consumer = KafkaConsumer( 'model-topics',
                         bootstrap_servers=bootstrap_server,
                         security_protocol=security_protocol,
                         sasl_mechanism=sasl_mechanism,
                         sasl_plain_username=user,
                         sasl_plain_password=password,
                         ssl_cafile=cafile,
                         ssl_check_hostname=True)

producer = KafkaProducer(bootstrap_servers=bootstrap_server,
                             security_protocol=security_protocol,
                             ssl_check_hostname=True,
                             ssl_cafile=cafile,
                             sasl_mechanism=sasl_mechanism,
                             sasl_plain_username=user,
                             sasl_plain_password=password,
                        )

alert_topic = "alerts"



for msg in consumer:
    request_id = get_request_id(msg)

    if request_id is not None:
        if request_id not in request_set:
            request_set[request_id] = {}
        request_set = prepare_message_value(msg.value, request_id, request_set)
    
    ready_sets = []
        
    for k in request_set.keys():
        if "loan_status" in request_set[k].keys() and "bankruptcies" in request_set[k].keys():
            print(f"found response for request id: {k}")
            response_dict = request_set[k]
            del response_dict['zipcode']
            del response_dict['dob_ssn']
            del response_dict['city']
            del response_dict['location_type'] 
            del response_dict['response_ready'] 
            df = pd.DataFrame.from_dict(response_dict)
            df[categorical_features] = encoder.transform(df[categorical_features])
            df = df[['person_age', 'person_home_ownership', 'person_emp_length',
                       'loan_intent', 'loan_amnt', 'loan_int_rate', 'loan_status', 'state',
                       'tax_returns_filed', 'population', 'total_wages', 'credit_card_due',
                       'mortgage_due', 'student_loan_due', 'vehicle_loan_due', 'hard_pulls',
                       'missed_payments_2y', 'missed_payments_1y', 'missed_payments_6m',
                       'bankruptcies', 'incomeamount12m']]
            for index, row in df.iterrows():
                print(row)
                pred = cd.predict(row.to_numpy())
                if pred['data']['is_drift'] == 1:
                    cd.reset_state()
                    pred['values'] = str(row.astype(float))
                    producer.send(alert_topic, bytes(str(pred), 'utf-8'))
            ready_sets.append(k)
            
    for req_id in ready_sets:
        del request_set[req_id]

In [ ]:
from mlflow import MlflowClient
client = MlflowClient()
name = "loan_approval"
rm = client.get_registered_model(name)
model_versions = rm.latest_versions
def sort_func(m):
    return int(m.version)
model_versions.sort(key=sort_func)
model_run_id = model_versions[-1].run_id

path = client.download_artifacts(model_run_id, "model/artifacts")

In [ ]:
import joblib
encoder = joblib.load('/tmp/tmprhvxpg0c/model/artifacts/encoder.bin')

In [ ]:
!ls /tmp/tmprhvxpg0c/model/artifacts

In [ ]:
msg

In [ ]:
type(msg.headers[0])

In [ ]:
for header in msg.headers:
    if header[0] == 'requestid':
        print(header[1])

In [ ]:
type(msg.value)

In [ ]:
import json
json.loads(msg.value.decode("utf-8"))

In [ ]:
json.loads(b'{"data":{"names":["zipcode","dob_ssn","person_age","person_home_ownership","person_emp_length","loan_intent","loan_amnt","loan_int_rate"],"tensor":{"shape":[8],"values":[76104,"19630621_4278",133,"RENT",123,"PERSONAL",35000,16.02]}}}'.decode("utf-8"))

In [ ]:
json.loads(b'{"jsonData":{"bankruptcies":[0],"city":["FORT WORTH"],"credit_card_due":[3343],"dob_ssn":["19630621_4278"],"hard_pulls":[1],"incomeamount12m":[196032.0],"loan_amnt":35000,"loan_int_rate":16.02,"loan_intent":"PERSONAL","location_type":["PRIMARY"],"missed_payments_1y":[0],"missed_payments_2y":[0],"missed_payments_6m":[0],"mortgage_due":[378847],"person_age":133,"person_emp_length":123.0,"person_home_ownership":"RENT","population":[10534],"state":["TX"],"student_loan_due":[44375],"tax_returns_filed":[6058],"total_wages":[142325465],"vehicle_loan_due":[11506],"zipcode":[76104]},"meta":{"requestPath":{"input-transformer":"registry.neomsa.ru/docker-mlops/mlops/feast-rest-enricher:ab058951"}}}\n'.decode("utf-8"))

In [ ]:
import json

request_set = {}

def get_request_id(msg):
    for header in msg.headers:
        if header[0] == 'requestid':
            return header[1].decode("utf-8")
    return None


def prepare_message_value(value, request_id, request_set):
    dict_value = json.loads(value.decode("utf-8"))
    if 'meta' in dict_value.keys():
        if 'jsonData' in dict_value.keys():
            for k in dict_value['jsonData'].keys():
                request_set[request_id][k] = dict_value['jsonData'][k]
        else:
            request_set[request_id]["loan_status"] = dict_value['data']['tensor']['values'][0]
            request_set[request_id]["response_ready"] = True
    else:
        request_set[request_id] = {"response_ready": False}
    return request_set


value1 = b'{"data":{"names":["zipcode","dob_ssn","person_age","person_home_ownership","person_emp_length","loan_intent","loan_amnt","loan_int_rate"],"tensor":{"shape":[8],"values":[76104,"19630621_4278",133,"RENT",123,"PERSONAL",35000,16.02]}}}'

value2 = b'{"jsonData":{"bankruptcies":[0],"city":["FORT WORTH"],"credit_card_due":[3343],"dob_ssn":["19630621_4278"],"hard_pulls":[1],"incomeamount12m":[196032.0],"loan_amnt":35000,"loan_int_rate":16.02,"loan_intent":"PERSONAL","location_type":["PRIMARY"],"missed_payments_1y":[0],"missed_payments_2y":[0],"missed_payments_6m":[0],"mortgage_due":[378847],"person_age":133,"person_emp_length":123.0,"person_home_ownership":"RENT","population":[10534],"state":["TX"],"student_loan_due":[44375],"tax_returns_filed":[6058],"total_wages":[142325465],"vehicle_loan_due":[11506],"zipcode":[76104]},"meta":{"requestPath":{"input-transformer":"registry.neomsa.ru/docker-mlops/mlops/feast-rest-enricher:ab058951"}}}\n'

value3 = msg.value

request_id = get_request_id(msg)

if request_id is not None:
    request_set = prepare_message_value(value1, request_id, request_set)
    print(request_set)
    print("\n  ")
    request_set = prepare_message_value(value2, request_id, request_set)
    print(request_set)
    print("\n  ")
    request_set = prepare_message_value(value3, request_id, request_set)
    print(request_set)

In [ ]:
for key in request_set.keys():
    if request_set[k]['response_ready']:
        response_dict = request_set[k]
        del response_dict['created_timestamp']
        del response_dict['event_timestamp']
        del response_dict['loan_id']
        del response_dict['zipcode']
        del response_dict['dob_ssn']
        del response_dict['city']
        del response_dict['location_type'] 
        del response_dict['response_ready'] 
        pred = cd.predict(pd.DataFrame.from_dict(response_dict).tail(1))
        if pred['data']['is_drift'] == 1:
            producer.send(alert_topic, b'some_message_bytes')
        del request_set[k]

In [ ]:
person_age               2.400000e+01
person_income            6.500400e+04
person_home_ownership    3.000000e+00
person_emp_length        4.000000e+00
loan_intent              4.000000e+00
loan_amnt                8.000000e+03
loan_int_rate            8.490000e+00
loan_status              0.000000e+00
state                    4.700000e+01
tax_returns_filed        7.806000e+03
population               1.427700e+04
total_wages              3.680099e+08
credit_card_due          6.874000e+03
mortgage_due             1.397820e+05
student_loan_due         3.113100e+04
vehicle_loan_due         1.200000e+01
hard_pulls               3.000000e+00
missed_payments_2y       6.000000e+00
missed_payments_1y       3.000000e+00
missed_payments_6m       0.000000e+00
bankruptcies

In [ ]:
person_age                 int64
person_home_ownership    float64
person_emp_length        float64
loan_intent              float64
loan_amnt                  int64
loan_int_rate            float64
loan_status                int64
state                    float64
tax_returns_filed          int64
population                 int64
total_wages                int64
credit_card_due            int64
mortgage_due               int64
student_loan_due           int64
vehicle_loan_due           int64
hard_pulls                 int64
missed_payments_2y         int64
missed_payments_1y         int64
missed_payments_6m         int64
bankruptcies               int64
incomeamount12m          float64

In [ ]:
person_age                 int64
person_home_ownership    float64
person_emp_length        float64
loan_intent              float64
loan_amnt                  int64
loan_int_rate            float64
loan_status                int64
state                    float64
tax_returns_filed          int64
population                 int64
total_wages                int64
credit_card_due            int64
mortgage_due               int64
student_loan_due           int64
vehicle_loan_due           int64
hard_pulls                 int64
missed_payments_2y         int64
missed_payments_1y         int64
missed_payments_6m         int64
bankruptcies               int64
incomeamount12m          float64

In [ ]:
bankruptcies               int64
credit_card_due            int64
hard_pulls                 int64
incomeamount12m          float64 -
loan_amnt                  int64
loan_int_rate            float64
loan_intent               object
missed_payments_1y         int64
missed_payments_2y         int64
missed_payments_6m         int64
mortgage_due               int64
person_age                 int64
person_emp_length        float64
person_home_ownership     object
population                 int64
state                     object
student_loan_due           int64
tax_returns_filed          int64
total_wages                int64
vehicle_loan_due           int64

loan_status